

body {
    padding-top: 50px;
}

.container-fluid {
    font-size: 0.9em;
}


.navbar-brand span.fa {
    font-size: 1.2em;
    margin-right: 8px;
}


.nav-tabs {
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 10px #000;
    font-size: 1em;
    letter-spacing: 1px;
}

.navbar-inverse .nav-menu {
    padding-left: 20px;
}

ul.nav-tabs.nav-justified>li {
    display: table-cell;
    width: 20%;
}


ul.nav-tabs.nav-justified>li>a {
    margin-bottom: 0;
    border-radius: 4px 4px 0 0;
}

ul.nav-tabs.nav-justified>.active>a, ul.nav-tabs.nav-justified>.active>a:hover {
    border-color:cadetblue;
    background-color: cadetblue;
    color: white;
}

.btn.save-btn{
    width:190px;
}

.btn.sec-btn{
    margin:0.5em;
}

a.navbar-link{
    font-size: 1em;
    margin-right:16px;
}

.modal-content{
    background-color:whitesmoke;
}


#home {
    max-width: 750px;
    margin-top: 20px;
}

header{

    background: blue;
    text-align: center;
    padding: 10px;
}

header a{
    color: white;
    text-decoration: none;
}



ul.options{
    list-style: none;
}

.tab-content {
    background-color: cadetblue;
    font-size: 1.1em;
    font-weight: 700;
    padding:10px;
}

h4{
    text-transform: uppercase;
    font-size: 1.2em;
}

